<div class="container">

			<%= render 'posts/form', post: @post %>
				<h3>My News Feed</h3>
			  <% @posts.each do |posts| %>
					<%= render 'posts/post', posts: posts %>
		    <% end %>

</div>


