<%= render 'posts/form', post: @post %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <p><%= post.post_text %></p>
      <%= render 'comments/form', comment: @comment %>
    </li>
  <% end %>
</ul>